<header class="header header--primary" role="banner">
    <a class="strapline" href="{{ site.baseurl }}/">
        <h1 class="hN">{{ site.title }}</h1>
    </a>

    <nav class="nav nav--primary">
        <ul class="list">
        {% assign sorted_pages = (site.pages | sort: 'order') %}
        {% for page in sorted_pages %}
            {% if page.title %}
            <li>
                <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>
</header>
