<div class="covid-19">
    <p>COVID-19 Corona Virus – South African Resource Portal: <a href="https://www.sacoronavirus.co.za" target="_blank">www.sacoronavirus.co.za</a></p>
    <a href="https://www.sacoronavirus.co.za" target="_blank">
        <img src="/assets/images/covid-600x116.png" width="600" height="116" alt="" />
    </a>
</div>

<header class="header header--primary header--{% if page.header %}{{ page.header }}{% else %}default{% endif %}" role="banner">
    <nav class="nav nav--primary">
        <ul class="list">
        {% assign sorted_pages = (site.pages | sort: 'order') %}
        {% for page in sorted_pages %}
            {% if page.nav and page.title %}
            <li>
                <a href="{{ page.url | prepend: site.baseurl }}">{{ page.nav }}</a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>

    <div class="strapline">
        <a class="strapline__link" href="{{ site.baseurl }}/">
            <h1 class="hN">{{ site.strapline }}</h1>
        </a>
    </div>
</header>
