<header class="header header--primary" role="banner">
    <nav class="nav nav--primary">
        <ul class="list">
        {% assign sorted_pages = (site.pages | sort: 'order') %}
        {% for page in sorted_pages %}
            {% if page.nav and page.title %}
            <li>
                <a href="{{ page.url | prepend: site.baseurl }}">{{ page.nav }}</a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </nav>

    <div class="strapline">
        <a class="strapline__link" href="{{ site.baseurl }}/">
            <h1 class="hN">{{ site.strapline }}</h1>
        </a>
    </div>
</header>
