<head>
    <meta charset="utf-8">
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>

    <!-- Open Graph -->
    <meta property="og:locale" content="en_GB">
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:image" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}apple-touch-icon.png">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.profile_twitter }}">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:image" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}apple-touch-icon.png">

    <link rel="alternate" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" type="application/rss+xml" title="{{ site.title }}">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="author" href="https://plus.google.com/+{{ site.profile_google_plus }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">

    {% if page.previous %}
    <link rel="prev" href="{{ page.previous.url | prepend: site.baseurl | prepend: site.url }}" title="{{ page.previous.title }}">
    {% endif %}
    {% if page.next %}
    <link rel="next" href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}" title="{{ page.next.title }}">
    {% endif %}

    <!-- Web Fonts -->
    <script>
        WebFontConfig = {
            google: {
                families: ['Lato:400,700', 'Merriweather:400,700,400italic,700italic']
            }
        };
    </script>

    <!-- Web Font Loader -->
    <script>
        (function(){var e=document.createElement("script");e.src=("https:"==document.location.protocol?"https":"http")+
        "://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js";e.type="text/javascript";e.async="true";
        var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
    </script>
</head>
