/* -------------------------------------------------------------------------- *\
   #ABOUT
\* -------------------------------------------------------------------------- */

.about {
    background-color: $color-white;
    padding-top: 1em;

    p {
        margin-top: 0;

        a {
            border-bottom: 1px solid $color-silver;
            color: $color-orange;
            text-decoration: none;
            transition: border-color 0.25s;

            &:focus,
            &:hover {
                border-bottom-color: $color-orange;
            }
        }
    }
}
