/* -------------------------------------------------------------------------- *\
   #ARTICLE
\* -------------------------------------------------------------------------- */

article {
    margin-bottom: 2em;

    /**
     * Anchor
     */

    a {
        border-bottom: 1px solid $color-silver;
        color: $color-orange;
        text-decoration: none;
        transition: border-color 0.25s;

        &:focus,
        &:hover {
            border-bottom-color: $color-orange;
        }
    }

    /**
     * Blockquote
     */

    blockquote {
        border-left: 3px solid $color-blue;
        margin-bottom: 2em;
        margin-left: 1em;
        padding-left: 1em;

        /* Paragraph */

        p {
            font-family: $font-secondary;
            font-style: italic;
            line-height: 1.8;
            margin-bottom: 1em;
            quotes: "\201C""\201D""\2018""\2019";

            &:before {
                content: open-quote;
            }

            &:after {
                content: close-quote;
            }
        }

        /* Cite */

        cite {
            font-size: 0.75em;
            font-family: $font-secondary;
        }
    }

    /**
     * Figure
     */

    figure {
        margin: 0 0 2em 0;

        /* Caption */

        figcaption {
            background-color: $color-black;
            color: $color-white;
            font-size: 0.875em;
            font-family: $font-secondary;
            font-style: italic;
            padding: 0.5em 1em 0.75em;
            text-align: right;
        }
    }

    /**
     * Horizontal Rule
     */

    hr {
        border: 0;
        border-top: 3px solid $color-black;
        display: block;
        height: 1px;
        margin: 0 auto 2em;
        padding: 0;
        width: 33%;
    }

    /**
     * Image
     */

    img {
        height: auto;
        max-width: 100%;
        width: 100%;
    }

    /**
     * Lists
     */

    ol,
    ul {
        list-style-type: square;
        margin-bottom: 1.5em;
        padding-left: 1.875em;

        li {
            margin-bottom: 1.5em;
        }
    }

    /**
     * Paragraph
     */

    p {
        margin-bottom: 1.5em;

        &+ blockquote,
        &+ figure,
        &+ hr {
            margin-top: 2em;
        }
    }

    /**
     * Preformatted
     */

    pre {
        margin-bottom: 1.5em;
    }

    /**
     * Time
     */

    time {
        display: inline-block;
        font-size: 0.875em; /* 14 / 16 */
        margin-bottom: 0.5em;

        a {
            color: $color-blue;

            &:focus,
            &:hover {
                border-bottom-color: $color-blue;
            }
        }
    }

    /**
     * Tweet
     */

    .twitter-tweet {
        margin-bottom: 1.5em !important;
    }
}

@media all and (min-width: $bp-small) {

    article {
        font-size: 1.25em; /* 24 / 16 */

        time {
            font-size: 0.8333em; /* 20 / 24 */
        }
    }
}

@media all and (min-width: $bp-large) {

    article {

        blockquote {
            border-left: 6px solid $color-blue;
        }

        figure {
            margin-right: -2em;
            margin-left: -2em;

            figcaption {
                font-size: 0.75em;
            }
        }

        hr {
            border-top: 6px solid $color-black;
        }
    }
}
