/* -------------------------------------------------------------------------- *\
   #FOOTER
\* -------------------------------------------------------------------------- */

.footer {
    background-color: $color-black;

    /**
     * Primary
     */

    &.footer--primary {
        padding-top: 3em;
        text-align: center;

        .nav {
            margin-bottom: 3em;
        }

        .social {
            margin-bottom: 3em;
        }
    }
}
