/* -------------------------------------------------------------------------- *\
   #FOOTER
\* -------------------------------------------------------------------------- */

.footer {

    /**
     * Primary
     */

    &.footer--primary {
        padding-top: 3em;
        padding-bottom: 3em;
        text-align: center;

        /* Nav */

        .nav {
            margin-bottom: 1.5em;
        }
    }
}
