/* -------------------------------------------------------------------------- *\
   #HEADER
\* -------------------------------------------------------------------------- */

.header {

    /**
     * Primary
     */

    &.header--primary {
        background: $color-black url('/assets/images/headers/michael-thorne-turkey-milipark-600x600.jpg') no-repeat center center;
        background-size: cover;
        height: 12em;
        position: relative;
        text-align: center;

        /* Nav */

        .nav {
            padding-top: 1em;
            margin-bottom: 2em;
        }
    }
}

@media all and (min-width: $bp-small) {

    .header {

        &.header--primary {
            background-image: url('/assets/images/headers/michael-thorne-turkey-milipark-1920x800.jpg');
            height: 22em;
            margin-bottom: 0;
            position: relative;

            .nav {
                margin-bottom: 6em;
            }
        }
    }
}

@media all and (min-width: $bp-xl) and (min-height: $bp-medium) {

    .l-header {

        &.header--primary {
            height: 30em;
        }
    }
}
