/* -------------------------------------------------------------------------- *\
   #HEADER
\* -------------------------------------------------------------------------- */

.header {

    /**
     * Primary
     */

    &.header--primary {
        background-color: $color-black;
        background-image: url('/assets/images/general/michael-thorne-turkey-milipark-600x600.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 10em;
        position: relative;
        text-align: center;

        /* Nav */

        .nav {
            padding-top: 1em;
            margin-bottom: 1.5em;
        }
    }
}

@media all and (min-width: $bp-small) {

    .header {

        &.header--primary {
            background-image: url('/assets/images/general/michael-thorne-turkey-milipark-1920x800.jpg');
            height: 20em;
            margin-bottom: 0;
            position: relative;

            .nav {
                margin-bottom: 4.5em;
            }
        }
    }
}

@media all and (min-width: $bp-xl) and (min-height: $bp-medium) {

    .l-header {

        &.header--primary {
            height: 30em;
        }
    }
}
