/**
 * LAYOUT
 */

/* -------------------------------------------------------------------------- *\
   TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * WRAPPER
 * MAIN
 */





/* -------------------------------------------------------------------------- *\
   #WRAPPER
\* -------------------------------------------------------------------------- */

.l-wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: $bp-small;
    width: 90%;
}





/* -------------------------------------------------------------------------- *\
   #MAIN
\* -------------------------------------------------------------------------- */

.l-main {
    background-color: $color-white;
    padding-top: 2em;
    padding-bottom: 2em;
}

@media all and (min-width: $bp-small) {

    .l-main {
        padding-top: 4em;
        padding-bottom: 4em;
    }
}

@media all and (min-width: $bp-xl) and (min-height: $bp-medium) {

    .l-main {
        padding-top: 6em;
        padding-bottom: 6em;
    }
}
