/**
 * LAYOUT
 */

/* -------------------------------------------------------------------------- *\
   TABLE OF CONTENTS
\* -------------------------------------------------------------------------- */

/**
 * WRAPPER
 * MAIN
 */





/* -------------------------------------------------------------------------- *\
   #WRAPPER
\* -------------------------------------------------------------------------- */

.l-wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: $bp-medium;
    width: 90%;
}

@media all and (min-width: $bp-xl) {

    .l-wrapper {
        max-width: $bp-small;
    }
}





/* -------------------------------------------------------------------------- *\
   #MAIN
\* -------------------------------------------------------------------------- */

.l-main {
    background-color: $color-white;
    padding-top: 5%;
    padding-bottom: 5%;
}
