/* -------------------------------------------------------------------------- *\
   #NAV
\* -------------------------------------------------------------------------- */

.nav {

    /**
     * Primary
     */

    &.nav--primary {

        .list {

            li {
                display: inline-block;
                margin-left: 1.5em;

                &:first-child {
                    margin-left: 0;
                }
            }

            a {
                border-bottom: 2px solid rgba($color-white, 0.25);
                color: $color-white;
                font-family: $font-secondary;
                letter-spacing: 1px;
                padding-bottom: 0.125em;
                text-decoration: none;
                text-shadow: 1px 1px 1px rgba($color-black, 0.25);
                transition: border-color 0.25s;

                &:focus,
                &:hover {
                    border-bottom-color: $color-blue;
                }
            }
        }
    }
}

@media all and (min-width: $bp-small) {

    .nav {

        &.nav--primary {

            a {
                font-size: 1.25em; /* 20 / 16 */
            }
        }
    }
}
