/* -------------------------------------------------------------------------- *\
   #PAGINATION
\* -------------------------------------------------------------------------- */

.pagination {

    /**
     * Label
     */

    .pagination__label {
        font-weight: $weight-bold;
        margin-bottom: 0.125em;
        text-transform: uppercase;
    }

    /**
     * Link
     */

    .pagination__link {
        border-bottom: 1px solid $color-silver;
        color: $color-blue;
        margin-bottom: 1.5em;
        text-decoration: none;
        transition: border-color 0.25s;

        &:last-of-type {
            margin-bottom: 0;
        }

        &:focus,
        &:hover {
            border-bottom-color: $color-blue;
        }

        & + .pagination__label {
            margin-top: 1.5em;
        }
    }
}
