---
layout: default
---

<article>
{{ content }}
</article>

<div class="posts">
    {% for post in site.posts %}
    <div class="post">
        <a class="post__time" href="{{ post.url | prepend: site.baseurl }}">
            <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%b %-d, %Y" }}</time>
        </a>
        <h2 class="post__title">{{ post.title }}</h2>
        {{ post.excerpt }}
        <a class="btn" href="{{ post.url | prepend: site.baseurl }}" role="button">Continue reading →</a>
    </div>

    {% endfor %}
</div>
