---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting">
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}" itemprop="datePublished">
        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.date | page: "%b %-d, %Y" }}</a>
    </time>
    <h2 itemprop="headline">{{ page.title }}</h2>
    <div itemprop="articleBody">
        {{ content }}
    </div>
</article>

<div class="pagination">
{% if page.previous %}
    <div class="pagination__label">Previous:</div>
    <a class="pagination__link" href="{{ page.previous.url | prepend: site.baseurl }}">{{ page.previous.title }}</a>
{% endif %}
{% if page.next %}
    <div class="pagination__label">Next:</div>
    <a class="pagination__link" href="{{ page.next.url | prepend: site.baseurl }}">{{ page.next.title }}</a>
{% endif %}
</div>
