---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting">
    <h2 itemprop="headline">{{ page.title }}</h2>

    <time datetime="{{ page.date | date: "%Y-%m-%d" }}" itemprop="datePublished">
        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.date | date: "%b %-d, %Y" }}</a>
    </time>

    <div itemprop="articleBody">
        {{ content }}
    </div>

    <div class="share">
        <span class="share__icon icon-twitter" aria-hidden="true"></span>
        <p class="share__synopsis">If you liked this post, feel free to <a href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&amp;url={{ site.url }}{{ page.url }}&amp;via={{ site.profile_twitter }}" target="_blank">share it on Twitter</a>.</p>
    </div>
</article>

<div class="pagination">
{% if page.previous %}
    <div class="pagination__label">Previous:</div>
    <a class="pagination__link" href="{{ page.previous.url | prepend: site.baseurl }}">{{ page.previous.title }}</a>
{% endif %}
{% if page.next %}
    <div class="pagination__label">Next:</div>
    <a class="pagination__link" href="{{ page.next.url | prepend: site.baseurl }}">{{ page.next.title }}</a>
{% endif %}
</div>
